body{
    background-image: url("C:\Users\sseya\Desktop\programming\Full_stack\Frontend Mentor\QR code component\favicon-32x32.png");
}

#main{
    width:20%;
    height:60%;
    border-radius: 20px;
    background-color:hsl(0, 0%, 100%);
    position: relative;
    left: 40%;
    bottom:20%;
}

#bg{
    background-color:hsl(212, 45%, 89%);
    width:90%;
    height: 100%;
    position: relative;
    left: 5%;
}

img{
    border-radius: 25px;
    width: 90%;
    height: 60%;
    padding: 6%;

}

h1{
    font-size: 15px;
    font-weight: 700px;
    color:hsl(218, 44%, 22%);
}

p{
    color:hsl(220, 15%, 55%);
}

h1, p{
    font-family: Outfit;
    text-align: center;
    padding: 10px;
}
